# Environment
venv/
**/.env
**/secrets.toml

# Python caching
**/__pycache__/
**/*.py[cod]

# Mac
.DS_Store

# Data
**/data/

# R 
.Rproj.user
.RData
.Rhistory

# Jupyter Notebook 
.ipynb_checkpoints/

# Logs
**/logs/


alembic.ini